<%- include("partials/header") %>
<h1>Stock Data</h1>

<!-- Search bar function -->
<form action="/search" method="post">
  <div class="row no-gutters">
    <div class="col-auto">
      <i class="fas fa-search h4 text-body"></i>
    </div>
    <div class="col">
      <input class="form-control form-control-lg form-control-borderless" type="search" name="searchValue" placeholder="Search for a stock name or symbol">
    </div>
    <div class="col-auto">
      <button class="btn btn-lg btn-primary" type="submit">Search</button>
    </div>
  </div>
</form>

<!-- Table for displaying search results -->
<table class="<%= searchTotalResults >= 0 ? 'table table-hover' : 'table table-hover stock-search-table' %>">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Stock Exchange</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% searchDataObject.forEach(function(searchResult){ %>
    <form action="/add" method="post">
      <tr>
        <th scope="row">
          <%= searchResult.symbol %>
          <input type="hidden" name="tickerSymbol" value="<%= searchResult.symbol %>" />
        </th>
        <td>
          <%= searchResult.name %>
          <input type="hidden" name="stockName" value="<%= searchResult.name %>" />
        </td>
        <td>
          <%= searchResult.stock_exchange_short %>
        </td>
        <td>
          <%= searchResult.price %>
        </td>
        <td><button class="btn btn-primary" type="submit">Add</button></td>
      </tr>
    </form>
    <% }) %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        Total results:
        <%= searchTotalResults %>
      </td>
    </tr>
  </tfoot>
</table>


<!-- User added stocks displayed as cards -->
<% stocks.forEach(function(stock){ %>
<div class="card" style="width: 400px;">
  <div class="card-body">
    <h5 class="card-title">
      <%= stock.name + " (" + stock.symbol + ")" %>
    </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/stocks/<%= stock.symbol %>" class="btn btn-primary information-btn">Stock information</a>
    <form action="/delete/<%= stock.symbol %>" method="post">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
</div>
<% }) %>
<%- include("partials/footer") %>
